* {
  text-align: center;
}

form {
  font-weight: bold;
  display: inline-block;
  margin: 20px;
  text-align: center;
}

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

table {
  display: block;
  padding-bottom: 20px;
}

input {
  font-size: 15px;
  padding: 5px;
}

button:hover {
  background-color: #4CAF50;
  color: white;
}

.error {
  color: red;
  font-weight: bold;
  padding: 15px 0px;
}

.countdown {
  color: #4CAF50;
  font-weight: bolder;
  font-size: 50px;
}
